* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header,
.education,
.education-item {
    animation: fadeIn 1s ease-in-out;
}

img {
    width: 70px;
    height: 70px;
    border-radius: 30px;
}

body {
    font-family: monospace;
    background-color: #0a192f;
}

h1 {
    color: #cbd8f8;
    font-size: 28px;
    margin-left: 10px;
    font-weight: 400; /* Ajout du poids de texte */
}

header {
    width: 100%;
    height: 90vh; 
    background-color: #0a192f;
}

.content {
    margin: auto;
    width: 80%;
}

h2 {
    color: #868eaf;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 5px;
    font-weight: 700; /* Ajout du poids de texte */
}

p {
    color: #868eaf;
    font-size: 15px;
    margin-top: 30px;
    text-align: justify;
    font-weight: 300; /* Ajout du poids de texte */
}

.head {
    color: aqua;
    font-size: 15px;
    margin-left: 10px;
    top: 50px;
    font-weight: 500; /* Ajout du poids de texte */
}

.desc {
    margin-top: 30px;
    line-height: 1.8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f1934;
    padding: 10px;
   

}

.logo-title-container {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    color: #afb7d8;
    padding: 0 10px;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
nav ul li a:active{
color: red;
}
nav ul li:hover {
    color: #ffffff;
    cursor: pointer;
    border-bottom: 2px solid #ffffff;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #032142;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 30px;
    font-weight: 700;
}

.button:hover {
    background-color: aqua;
    color: black;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.education {
    background-color: #d3880f;
    padding: 40px;
    height: 108vh;
}

.education h2 {
    margin: auto;
    color: #8695c8;
    color: #000000;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600; /* Ajout du poids de texte */
}

hr {
    padding: 0;
    margin-top: 0;
    width: 190px;
    margin-bottom: 10px;
}

.education-item {
    border-bottom: 1px solid #302323;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.education-item h3 {
    font-size: 20px;
    color: #090f26;
}

.education-item p {
    color: #000000;
    line-height: 1.5;
    font-size: 16px;
    margin: 10px;
}

#experiences {
    background-color: #052e2484;
    padding: 20px;
    
}

#experiences h2 {
    margin: auto;
    color: #dbdaea;
    font-size: 30px;
    margin-bottom: 10px;
}

.experience-item {
    margin-bottom: 30px;
    margin-left: 40px;
    border-bottom: 1px solid #9f7b33;

}

.experience-item h3 {
    color: #9f7126;
    font-size: 20px;
    margin-bottom: 10px;
}

.experience-item p {
    color: #b7adad;
    line-height: 1.5;
    font-size: 16px;
    margin: 20px;
}

.skills {
    padding: 10px;
    background-color: #d3880f;
    height: 100vh;
}

.skills h2 {
    color: #120f3a;
    font-size: 30px;
    margin-bottom: 10px;
}

.skills hr {
    width: 110px;
    margin-left: 15px;
    margin: auto;
    border: 1px solid #120f3a;
}

.skill-category {
    margin-left: 40px;
    margin-bottom: 30px;
}

.skill-category h3 {
    color: #29264b;
    font-size: 24px;
    margin-bottom: 10px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    background-color: #13544a;
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.skill:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
section {
    transition: transform 0.3s ease-in-out;
}

.animated-section {
    transform: translateY(20px);
}
section {
    transition: transform 0.3s ease-in-out;
}

.animated-section {
    transform: translateY(20px);
}


.projects {
    text-align: center;
    margin-top: 50px;

}
.contener{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:  10px;
    margin: 20px;
      
}

.project {
    margin-bottom: 30px;
    padding: 20px;
    background-color:  #868eaf;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.project p{
    font-size: 10p ;
    font-weight: 500;
    margin: 5px;
}

.project:hover {
    transform: translateY(-5px);
}

.project img {
    width: 15%;
    
    border-radius: 10px;
}

.project h3 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}

.project p {
    color: #fff9f9;
    line-height: 1.5;
    font-size: 16px;
    margin: 20px;

}

.project a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #032142;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 30px;
    font-weight: 700;
}

.project a:hover {
    background-color: #0056b3;
}

.contact {
    padding: 20px;
    background-color: #29264b;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
    font-size: 15px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button[type="submit"] {
    background-color: #45a074;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin-left: 136px;
    margin-top: 10px;
    margin-bottom: 40px;
}

button[type="submit"]:hover {
    background-color: #2f6d31;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a, footer span {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer img {
    width: 40px; 
    height: auto; 
    vertical-align: middle;
}

footer a:hover {
    color: #ffcc00; 
}
.more-text {
    overflow: hidden;
    max-height: 100px;
    transition: max-height 0.3s ease;
}

.more-text.show {
    max-height: none; 
}






/* Code pour portable */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 14px;
    }

    .head {
        font-size: 14px;
    }

    .desc {
        font-size: 14px;
    }

    nav ul li {
        padding: 0 5px;
        font-size: 12px;
    }

    .button {
        font-size: 12px;
    }

    .education {
        height: auto;
    }

    .education h2 {
        font-size: 20px;
    }

    hr {
        width: 150px;
    }

    .education-item {
        margin-left: 20px;
    }

    .education-item h3 {
        font-size: 18px;
    }

    .education-item p {
        font-size: 14px;
    }

    #experiences h2 {
        font-size: 20px;
    }

    .experience-item {
        margin-left: 30px;
    }

    .experience-item h3 {
        font-size: 18px;
    }

    .experience-item p {
        font-size: 14px;
    }

    .skills h2 {
        font-size: 20px;
    }

    .skills hr {
        width: 90px;
    }

    .skill-category h3 {
        font-size: 20px;
    }

    .skill {
        padding: 8px 16px;
        font-size: 12px;
    }

    .projects {
        margin-top: 30px;
    }

    .contener {
        grid-template-columns: 1fr;
    }

    .project {
        width: 100%;
    }

    .project img {
        width: 30%;
    }

    .project h3 {
        font-size: 20px;
    }

    .project p {
        font-size: 12px;
    }

    .contact-form {
        max-width: 400px;
    }

    label {
        font-size: 14px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 14px;
    }

    button[type="submit"] {
        font-size: 14px;
    }

    footer {
        font-size: 14px;
    }
}
